<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Oh, the Places You'll Go!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1>@Model.CityName Details</h1>
      <h3>Landmarks</h3>
      <ul>
        <li>@Model.Landmarks</li>
      </ul>
      <h3>People You Traveled With</h3>
      <ul>
        <li>@Model.People</li>
      </ul> 
      <h3>Journal Entry</h3>
      <div class="card">
        <textarea>@Model.Journal</textarea>
      </div>
      <h3>Your Stay</h3>
      <h4>You arrived on @Model.Arrive and departed on @Model.Depart</h4> 

      <form action="/places/@place.Id" method="patch">
        <label for="cityName">Update City Name</label>
        <input id="cityName" name="cityName" type="text" placeholder="Update Name">
      </form>  
      
    </div>
  </body>
</html>